<div class="c-gallery">
<div *ngFor="let character of characters; let i = index">
    <img class="c-image" src="{{character.image ? character.image : 'assets/earth.png'}}" alt="" />
    <p class="c-parragraph">{{character.name}}</p>
    <button (click)="addNewFavoriteCharacter(character)">Add to favourites</button>
</div>
</div>