.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.c-parragraph {

    font-size: 36px;
    color: cornflowerblue;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: table-cell;
    text-transform: lowercase;    

}

.c-image {
    border: 4px solid rgb(163, 163, 163);
    max-width: 100%;  
}