<nav class="c-menu">
    <a class="c-menu__link" routerLink="" [routerLinkActive]="{exact: true}" routerLinkActive="c-menu__link--active">Home</a>
    <a class="c-menu__link" routerLink="/characters" routerLinkActive="c-menu__link--active">Characters</a>
    <a class="c-menu__link" routerLink="/location" routerLinkActive="c-menu__link--active">Location</a>
    <a class="c-menu__link" routerLink="/favourites" routerLinkActive="c-menu__link--active">Favourites</a>
</nav>
