

.c-menu {
  display: flex;
  width: 100%;
  justify-content: center;

  &__link {
    color: coral;
    font-size: 48px;
    text-decoration: none;
    margin: 0 24px;
    &__active{
      border-bottom: 2px solid blueviolet;
    }
  }
}