
@import '~bootstrap/scss/bootstrap-grid';
@font-face {
    font-family: "shlop";
    src: url("../src/shlop.ttf");    
}

body {
    margin: 0;
    font-family: "shlop", Arial, Helvetica, sans-serif ;
}